flow2
[{"id":"eae46a22.03eb58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"47d0e59a.c5428c","type":"inject","z":"eae46a22.03eb58","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":70,"y":80,"wires":[["20aa4440.c2196c"]]},{"id":"20aa4440.c2196c","type":"function","z":"eae46a22.03eb58","name":"Payload","func":"msg.headers={\n    deviceKey: \"T3yNjbHXRD9ZtZF7\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["c3310465.60ab98"]]},{"id":"c3310465.60ab98","type":"http request","z":"eae46a22.03eb58","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DFsgMBIC/datachannels/Temperature/datapoints.csv","tls":"","x":310,"y":180,"wires":[["e55d716c.3bdf9","6112206a.a8687"]]},{"id":"e55d716c.3bdf9","type":"http response","z":"eae46a22.03eb58","name":"","statusCode":"","headers":{},"x":470,"y":160,"wires":[]},{"id":"6112206a.a8687","type":"debug","z":"eae46a22.03eb58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":300,"wires":[]}]