flow4
[{"id":"38bded3e.7218d2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"4d28482c.fc1ec8","type":"http in","z":"38bded3e.7218d2","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["5b69c3e7.21310c"]]},{"id":"fb312974.5e55d8","type":"rpi-gpio in","z":"38bded3e.7218d2","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":320,"wires":[["2f66ed73.748642"]]},{"id":"2f66ed73.748642","type":"function","z":"38bded3e.7218d2","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["e5da26d4.f96548"]]},{"id":"5b69c3e7.21310c","type":"function","z":"38bded3e.7218d2","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["dbc8d968.1be158","e5da26d4.f96548"]]},{"id":"dbc8d968.1be158","type":"http response","z":"38bded3e.7218d2","name":"","statusCode":"","headers":{},"x":440,"y":160,"wires":[]},{"id":"e5da26d4.f96548","type":"debug","z":"38bded3e.7218d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":220,"wires":[]}]