flow5
[{"id":"7b7132e.503d1cc","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"362193f2.1c0cec","type":"http in","z":"7b7132e.503d1cc","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":120,"wires":[["cac877ed.de1618","bdb01412.b7c7c8"]]},{"id":"cac877ed.de1618","type":"function","z":"7b7132e.503d1cc","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["96949a09.952f48"]]},{"id":"96949a09.952f48","type":"rpi-gpio out","z":"7b7132e.503d1cc","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":430,"y":140,"wires":[]},{"id":"bdb01412.b7c7c8","type":"function","z":"7b7132e.503d1cc","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["f464bcf6.c00b5","267b60ea.4f474"]]},{"id":"f464bcf6.c00b5","type":"http response","z":"7b7132e.503d1cc","name":"","statusCode":"","headers":{},"x":430,"y":220,"wires":[]},{"id":"267b60ea.4f474","type":"debug","z":"7b7132e.503d1cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":300,"wires":[]},{"id":"25882ac1.14b2e6","type":"http in","z":"7b7132e.503d1cc","name":"clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["f066516d.41347","3c864228.c1d69e"]]},{"id":"f066516d.41347","type":"function","z":"7b7132e.503d1cc","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":460,"wires":[["96949a09.952f48"]]},{"id":"3c864228.c1d69e","type":"function","z":"7b7132e.503d1cc","name":"Return Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["267b60ea.4f474","f464bcf6.c00b5"]]}]