flow3
[{"id":"7acd965e.8bd218","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e2270b1f.5d8558","type":"inject","z":"7acd965e.8bd218","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":90,"y":60,"wires":[["5ee8cea3.30c21"]]},{"id":"5ee8cea3.30c21","type":"function","z":"7acd965e.8bd218","name":"Payload","func":"msg.headers={\n    deviceKey: \"T3yNjbHXRD9ZtZF7\"\n    };\n    \nmsg.payload= \"Temperature,,25.3\";\nmsg.payload= \"Humidity,,88\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["ed3d5287.75826"]]},{"id":"ed3d5287.75826","type":"http request","z":"7acd965e.8bd218","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DFsgMBIC/datapoints.csv","tls":"","x":390,"y":60,"wires":[["306c8d57.1af9e2","de7e6c79.c225f"]]},{"id":"306c8d57.1af9e2","type":"http response","z":"7acd965e.8bd218","name":"","statusCode":"","headers":{},"x":450,"y":140,"wires":[]},{"id":"de7e6c79.c225f","type":"debug","z":"7acd965e.8bd218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":220,"wires":[]}]