flow1
[{"id":"1c1e4ba4.7bcd04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6760300.4071e","type":"rpi-gpio out","z":"1c1e4ba4.7bcd04","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":390,"y":220,"wires":[]},{"id":"5d222000.bbcc9","type":"inject","z":"1c1e4ba4.7bcd04","name":"On","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["c6760300.4071e"]]},{"id":"f6e79af8.351f68","type":"inject","z":"1c1e4ba4.7bcd04","name":"Off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["c6760300.4071e"]]},{"id":"9fb9b4c8.532af8","type":"rpi-gpio in","z":"1c1e4ba4.7bcd04","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":40,"wires":[["c6760300.4071e"]]}]